<div class="container-fluid">
  <div *ngIf="loaded" class="container">
    <div class="row">
      <div class="col-sm">
        <app-card [card]="cards[0]"></app-card>
      </div>
      <div class="col-sm">
        <app-card [card]="cards[1]"></app-card>
      </div>
      <div class="col-sm">
        <app-card [card]="cards[2]"></app-card>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <h4 *ngIf="!loaded"><em><img src="assets/images/loading.gif" class="img-fluid" alt="Loading..."></em></h4>
  </div>
</div>
